# IDE
.idea/
*.iml
.vscode/

# Backend
backend/**/target/
backend/**/.classpath
backend/**/.project
backend/**/.settings/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local

# Env & uploads
.env
uploads/

# OS
.DS_Store
Thumbs.db
.cursor
.superpowers/
backend/.github
backend/bin
backend/doc

frontend/bin
frontend/.github
